body.has-navbar-fixed-top {
    padding-top: 4rem;
}

body, button, input, select, textarea {
    font-family: "Avenir", sans-serif;
}

.title {
    font-family: "Frank Ruhl Libre", serif;
}

.is-display-1 {
    font-size: 5rem;
}

.has-text-shadow {
    text-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
}

.button {
    border: none;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 1.8rem;
    letter-spacing: 0.1rem;
    padding-right: 1.7rem;
}

.container-small {
    max-width: 960px;
}